<p id="notice"><%= notice %></p>

<p>
  <strong>X:</strong>
  <%= @position.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @position.y %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
