<p id="notice"><%= notice %></p>

<p>
  <strong>Nc:</strong>
  <%= @control.NC %>
</p>

<p>
  <strong>Tr:</strong>
  <%= @control.TR %>
</p>

<p>
  <strong>Vs:</strong>
  <%= @control.VS %>
</p>

<p>
  <strong>Map:</strong>
  <%= @control.map_id %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
