<hr/>
<div id="footer">
	 <div id="row">
	  	<div id="cell"><%= link_to 'CONTACT', home_contact_path%></div>
	  	<div id="cell"><%= link_to 'ABOUT', home_about_path %></div>
	  	<div id="cell"><%= link_to 'HELP', home_help_path %></div>
	  	<div id="cell"><%= link_to 'PRIVACY', home_privacy_path %></div>
	  	<div id="cell"><%= link_to 'CONDITIONS OF USE', home_conditions_path %></div>
	  	<div id="cell"><%= link_to 'SITE MAP', home_site_path %></div>
	</div>
</div>