<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Owner Id:</strong>
  <%= @room.owner_id %>
</p>

<p>
  <strong>Token:</strong>
  <%= @room.token %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
