<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @match.room_id %>
</p>

<p>
  <strong>End time:</strong>
  <%= @match.end_time %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
